<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side" [opened]="!smallScreen">
        <h2>Mean Stack 100</h2>
        <mat-list>
            <mat-list-item>
                <a routerLink="/users" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Users</a>
            </mat-list-item>
            <mat-list-item>
                <a routerLink="/users/create" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Add User</a>
            </mat-list-item>
        </mat-list>
    </mat-drawer>

    <div class="example-sidenav-content">
        <router-outlet></router-outlet>
    </div>

</mat-drawer-container>
